.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
}

.button-separator {
  margin-left: 1rem;
}
